# default group
* @pcdshub/ui-sme

# language-specific group(s)
## PYTHON files
*.py ui-sme @pcdshub/python-reviewers
*.pyi ui-sme @pcdshub/python-reviewers
*.pyc ui-sme @pcdshub/python-reviewers
*.pyw ui-sme @pcdshub/python-reviewers
*.pyx ui-sme @pcdshub/python-reviewers
*.pyd ui-sme @pcdshub/python-reviewers

# github folder holds administrative files
.github/** @pcdshub/software-admin
